header h1 {
  font-size: 2.7rem;
  font-weight: 300;
  letter-spacing: 0.7rem;
}
h4 {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.3rem;
}
h5 {
  font-size: 0.7rem;
  font-weight: 300;
  letter-spacing: 0.7rem;
}

.bottom-border {
  border-bottom: 1px solid grey;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.skillset span {
  display: inline-block;
  border: 1px solid grey;
  margin: 5px 5px 0px 0px;
  padding: 5px;
  border-radius: 0.25rem;
}

#projects h4,
#skills h4 {
  margin-left: 4rem;
  margin-top: 2rem;
}
hr {
  width: 75%;
}
